@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$basic-font: "Oswald",Arial,sans-serif;
$text-font: "Open Sans";
$orange: #de4242;
$black: #010101;
$white: #fff;